{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": false,
    "node": true,
    "mocha": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "rules": {
    "quotes": [2, "single", {
      "avoidEscape": true,
      "allowTemplateLiterals": true
    }]
  }
}
